@model BoxProblem.Data.BoxInventory
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form action="~/Home/Create" method="post">
    Weight: <input type="text" name="Weight" required="required"><br>
    Volume: <input type="text" name="Volume" required="required"><br>
    Can hold liquid: <input type="text" name="CanHoldLiquid"required="required"><br>
    Cost: <input type="text" name="Cost"required="required"><br>
    Number in inventory: <input type="text" name="InventoryCount"required="required"><br>
    <input type="submit" value="Submit" @Html.ActionLink("Back to List", "Index")>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



