@using BoxProblem.Data
@model List<BoxInventory>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Home</h2>
<button onclick="location.href='@Url.Action("Add", "Home")'">Add</button>
<button onclick="location.href='@Url.Action("Edit", "Home")'">Add</button>
<button onclick="location.href='@Url.Action("Details", "Home")'">Add</button>

<p>Inventory</p>
