<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The BMC </title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/OverallCSS.css" />
    </environment>
</head>
<body>
    <h1><p class="txt-size">The</p><p class="border-box">Box</p><p class="txt-size">Manufacturing Company</p> </h1>
    <div class="topp row cent" id="navbar">
        <div class="col-md-1 padding-top2">
            <a href="#top">
                <img src="Images/box.png" class="icon" />
            </a>
        </div>
        <div class="col-md-10">
            <p class="title wh">THE BMC</p>
        </div>
        <div class="col-md-1">
            <a href="#view">
                <img src="Images/inventory2.png" class="icon2" />
            </a>
        </div>
    </div>
    <a name="top"></a>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 mySlides w3-animate-opacity" src="images/box1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mySlides w3-animate-opacity" src="images/box2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mySlides w3-animate-opacity" src="images/box3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mySlides w3-animate-opacity" src="images/box4.jpg" alt="Fourth slide">
            </div>
        </div>
    </div>
    <a name="view"></a>
    @RenderBody()
    <div class="row">
        <div class="col-md-12 bcol">
            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            @RenderSection("Scripts", required: false)
        </div>
    </div>
</body>
</html>
<script>var slideIndex = 0;
carousel();

function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
}
window.onscroll = function() { myFunction() };

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
}</script>